.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background-image: url(images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  /* position: relative; */
}
.main-container {
  background-image: url(images/bg-pattern-bottom-desktop.svg);
  background-position: 100% 100%;
  /* background-position: bottom 10px right 10px; */
  background-repeat: no-repeat;
  position: relative;
}
.container {
  display: flex;
  padding: 120px;
  justify-content: flex-start;
  column-gap: 150px;
}
h1 {
  color: hsl(300, 43%, 22%);
  font-size: 52px;
  font-weight: 700;
  height: 80px;
  width: 400px;
  margin-bottom: 90px;
}
.hero p {
  font-size: 20px;
  font-weight: 400;
  color: hsl(303, 10%, 53%);
  width: 420px;
  line-height: 1.4;
  letter-spacing: 0px;
}
.review {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}
.review-1,
.review-2,
.review-3 {
  background-color: hsl(300, 24%, 96%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 400px;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: hsl(300, 46%, 30%);
  font-weight: 600;
}
.review-2 {
  position: absolute;
  top: 80px;
  left: 50px;
}
.review-3 {
  position: absolute;
  top: 160px;
  left: 100px;
}
.buyer-review {
  display: flex;
  justify-content: center;
  gap: 25px;
  /* position: relative; */
}
.buyer-review-1,
.buyer-review-2,
.buyer-review-3 {
  background-color: hsl(300, 43%, 22%);
  height: 230px;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
}
h3 {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 2px;
}
span {
  color: hsl(333, 80%, 67%);
  font-size: 16px;
  font-weight: 100px;
  display: inline-table;
}

.buyer-image {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.buyer-details-1,
.buyer-details-2,
.buyer-details-3 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.buyer-name {
  display: flex;
  flex-direction: column;
}
.buyer-text {
  color: hsl(300, 24%, 96%);
  line-height: 1.2;
}
.buyer-review-2 {
  margin-top: 25px;
}
.buyer-review-3 {
  margin-top: 50px;
}
