/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: hsl(240, 100%, 5%)
- Tints:
hsl(35, 77%, 62%)
hsl(5, 85%, 63%)

- Shades: 


- Accents:
- Greys

hsl(36, 100%, 99%)
hsl(233, 8%, 79%) 
hsl(236, 13%, 42%) 


--- 05 SHADOWS

NO Shadows

--- 06 BORDER-RADIUS

Default: 0px
Medium: 0px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}
