@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

p {
  line-height: 1.8;
  color: hsl(238, 22%, 44%);
  font-size: 15px;
}

.btn {
  background-color: hsl(224, 93%, 58%);
}

li a {
  color: hsl(238, 22%, 44%);
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

button {
  font-family: "Raleway", sans-serif !important;
}

.link {
  color: hsl(170, 45%, 43%);
}

.cta {
  background-color: hsl(238, 22%, 44%);
}

footer {
  background-color: hsl(243, 87%, 12%);
}

.hover{
  color: hsl(238, 22%, 44%);
}

.hover:hover{
  color: white;
  font-size: bold;
  transform: scale(1.5);
}

.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.links{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.links ul{
  padding: 20px;

}

@media (min-width: 1024px) {
  p {
    font-size: 16px;
  }
}
