* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
}

/* button {
  border-radius: 50%;
} */
.container {
  max-width: 40rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 28px;
  padding: 3rem;
  /* margin-bottom: 2rem; */
  z-index: 5;
}

.img {
  background-color: hsla(216, 12%, 8%, 0.4);
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  border-radius: 50%;
  margin: 0rem 0;
}
.title {
  font-size: 2.8rem;
  color: hsl(0, 0%, 100%);
  margin: 3rem 0 1.5rem 0;
  font-weight: 700;
}
.parah {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: hsl(217, 12%, 63%);
  margin-bottom: 2rem;
  font-weight: 400;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.btn {
  border: none;
  font-weight: 400;
  background-color: hsla(216, 12%, 8%, 0.4);
  padding: 1.5rem 2rem;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 1.6rem;
}
.btn:hover {
  color: #fff;
  background-color: hsl(217, 12%, 63%);
}
/* .btn:active {
  background-color: hsl(25, 97%, 53%);
} */
.submit {
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 1.6rem 2rem;
  border-radius: 5rem;
  cursor: pointer;
}
.submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
  transition: all 0.5s;
}

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 40rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 28px;
  padding: 3rem;
  text-align: center;
  z-index: 10;
}
.user-rating {
  background-color: hsla(216, 12%, 8%, 0.4);
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  color: hsla(25, 97%, 53%, 0.7);
  border-radius: 50px;
  margin-top: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}
