/**************************/
/* HEADER */
/**************************/
.header {
  padding: 3.2rem 16rem;

  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3.2rem;
  /* Because we want header to be sticky later */
  height: 9.6rem;
}
/**************************/
/* NAVIGATION */
/**************************/
.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: hsl(260, 8%, 14%);
}

/**************************/
/* HERO SECTION */
/**************************/
.section-hero {
  padding: 3.2rem 0 9.6rem 0;
}

.hero {
  margin-left: 16rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  overflow: hidden;
}
.hero-description {
  color: hsl(257, 7%, 63%);
  font-size: 2.2rem;
  margin-bottom: 3.2rem;
}
.hero-img {
  width: 120%;
}
/**************************/
/* STATISTICS SECTION */
/**************************/
.section-statistics {
  padding: 9.6rem 0;
  background-color: hsl(0, 0%, 98%);
}
.form {
  width: 100rem;
  height: 150px;
  background-color: hsl(257, 27%, 26%);
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
/* form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.input {
  padding: 1.6rem 2.4rem;
  width: 100%;
}
.input::placeholder {
  color: hsl(257, 7%, 63%);
  font-size: 2.2rem;
}
.btn--stats {
  color: red;
  display: block;
} */

/**************************/
/* STATISTICS TEXT SECTION */
/**************************/
.statistics-text {
  margin-left: 16rem;
  margin-bottom: 9.6rem;
}
