*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
}
.main-header {
  padding: 0 16rem;
}
.header {
  height: 10.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid hsl(220, 14%, 75%);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  font-size: 1.6rem;
  position: relative;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: hsl(219, 9%, 45%);
  text-decoration: none;
  font-weight: 400;
  transition: all 0.2s ease;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: hsl(220, 13%, 13%);
}
.main-nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  margin: auto;
  display: block;
  background-color: orange;
  transition: width 0.3s linear;
}
.main-nav-link:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}
.nav-images {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.cart-icon:hover {
  cursor: pointer;
}
.user-profile {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  transition: all 0.15s ease;
}
.user-profile:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease;
}
main {
  margin: 6.4rem 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  justify-content: end;
}
.section-images {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.product-main-img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 47rem;
  width: 47rem;
  border-radius: 12px;
  overflow: hidden;
}
.thumbnail-img {
  height: 100%;
  width: 100%;
}

.product-imgs {
  display: flex;
  gap: 2.4rem;
}
.product-item-img {
  width: 10rem;
  height: 10rem;
  border-radius: 12px;
  overflow: hidden;
}
.product-item-img:hover {
  opacity: 0.8;
  cursor: pointer;
}
.product-item-img img {
  width: 100%;
  height: 100%;
}
.heading-tertiary {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
}
.heading-primary {
  font-size: 4.2rem;
  color: hsl(0, 0%, 0%);
  margin-bottom: 3.2rem;
}
.text {
  font-size: 1.6rem;
  line-height: 1.4;
  color: hsl(219, 9%, 45%);
  margin-bottom: 2rem;
}
.amount {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
.current-amount {
  font-size: 3.2rem;
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}
.discount {
  font-size: 1.6rem;
  color: hsl(26, 100%, 55%);
  font-weight: 800;
  background-color: hsl(25, 100%, 94%);
  border-radius: 4px;
  padding: 0.4rem;
}
del {
  font-size: 1.6rem;
  font-weight: 800;
  color: hsl(220, 14%, 75%);
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2.4rem;
  gap: 2.4rem;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  gap: 3.2rem;
  border-radius: 8px;
  padding: 1.6rem 3.2rem;
}
.remove,
.add {
  background: none !important;
  border: none;
}
.remove img,
.add img {
  width: 1.6rem;
}

.remove:hover,
.add:hover {
  color: hsla(26, 100%, 55%, 0.5);
  stroke: hsla(26, 100%, 55%, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.count {
  font-size: 1.6rem;
  font-weight: 800;
}
.addCartBtn {
  border: none !important;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-weight: 800;
  font-size: 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.8rem 6.4rem;
  transition: all 0.2s ease;
}
.addCartBtn:hover {
  background-color: hsla(26, 100%, 55%, 0.9);
  cursor: pointer;
}
