/**************************/
/* HEADER */
/**************************/
.header {
  padding: 3.2rem 16rem;

  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3.2rem;
  /* Because we want header to be sticky later */
  height: 9.6rem;
}
/**************************/
/* NAVIGATION */
/**************************/
.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: hsl(260, 8%, 14%);
}

/**************************/
/* HERO SECTION */
/**************************/
.section-hero {
  padding: 3.2rem 0 16rem 0;
}

.hero {
  margin-left: 16rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  overflow: hidden;
}
.hero-description {
  color: hsl(257, 7%, 63%);
  font-size: 2.2rem;
  margin-bottom: 3.2rem;
}
.hero-img {
  width: 120%;
}
/**************************/
/* STATISTICS SECTION */
/**************************/
.section-stats {
  padding: 9.6rem 0;
  background-color: rgb(243, 249, 255);
  position: relative;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: -9rem;
  left: 50%;
  transform: translateX(-50%);
}
form {
  width: 110.5rem;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  isolation: isolate;
  padding: 6.4rem 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  border-radius: 12px;
}

.input {
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 2.2rem;
  color: hsl(260, 8%, 14%);
  width: 80%;
}
.input::placeholder {
  color: hsl(257, 7%, 63%);
  font-size: 2.2rem;
}
.btn--stats {
  border-radius: 8px;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  width: 20%;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin: 1.6rem 0 9.6rem 0;
  background-color: pink;
  height: 200px;
  width: 110.5rem;
}
.statistics-text {
  text-align: center;
}
.statistics-description {
  color: hsl(257, 7%, 63%);
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  padding: 0 36rem;
}
