body { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}
img{
  border-radius: 50%;
}
.grid{
  padding: 10px;
}

.header-1{
  margin-top: -66px;
  margin-left: 90px;
  p{
      margin-top: -25px;
  }
  h4,p{
      margin-left: -30px;
  }
  .svg{
      margin-left: 250px;
      margin-top: -72px;
  }
}
.container-grid{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 25px;
  column-gap: 25px;
}
body{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
}
.daniel{
  background-color: hsl(263, 55%, 52%);
  border-radius: 11px;
  box-shadow: 3px 3px 3px 3px hsl(263, 32%, 69%);
  grid-column: 1 / 3;

  h3 {
      margin-top: -30px;
  }

}
p{
  color: hsl(0, 0%, 81%);
}
h3{
  font-weight: 600;
  color: white;
}
h4{
  font-weight: 500;
  color: white;
}
.jonathan{
  background-color: hsl(217, 19%, 35%);
  border-radius: 11px;
   box-shadow: 3px 3px 3px 3px hsl(218, 8%, 45%);
}

.patrick{
  background-color:hsl(219, 29%, 14%);
  border-radius: 11px;
  box-shadow:  3px 3px 3px 3px hsl(218, 21%, 21%);
  grid-column: 2/ 4;
  grid-row: 2;
}

.jean{
  border-radius: 11px;
  box-shadow:3px 3px 3px 3px hsl(263, 32%, 69%);
  h3{
      color: hsl(217, 19%, 35%);
  }
  h4{
      color: hsl(217, 19%, 35%);
  }
  p{
      color: hsl(217, 19%, 35%);
  }
}

.kira{
  box-shadow: 3px 3px 3px 3px hsl(263, 32%, 69%);
  border-radius: 11px;
  grid-column: 4;
  grid-row: 1 / 3;

  h3{
      color: hsl(217, 19%, 35%);
  }
  h4{
      color: hsl(217, 19%, 35%);
  }
  p{
      color: hsl(217, 19%, 35%);
  }
}
.img{
  display: flex;
  h4{
      margin-left: 10px;
  }
}

.kira,.jonathan,.jean,.patrick{
  .name{
      margin-top: -70px;
      margin-left: 70px;

  }
  .name p{
      margin-top: -23px;
  }
}


@media (max-width:768px){

  .container-grid{
      display: flex;
      flex-direction: column;
      width: 350px;
  }
  .header-1{
      .svg{
          margin-left: 130px;
          margin-top: -72px;
      }
  }
 
}


